.header {
  border-bottom: 1px solid $color-silver;
  padding: 1rem 0;
  margin: 0;
  margin-bottom: 1.75rem;

  &__title {
    margin: 0;

    &>a {
      @include title-l;
      @include text-semibold;
      @include text-link; 
    }
  }
}

@include screen-breakpoint(small) {
  .header {
    margin: 0 2rem;
    margin-bottom: 1.75rem;
  }
}

@include screen-breakpoint(large) {
  .header {
    margin: 0 10rem;
    margin-bottom: 1.75rem;
  }
}

@include screen-breakpoint(wide) {
  .header {
    margin: 0 15rem;
    margin-bottom: 1.75rem;
  }
}