.podcast-detail {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

@include screen-breakpoint(large) {
  .podcast-detail {
    flex-direction: row;
    column-gap: 4rem;

    &__summary {
      flex-basis: 25%;
    }
  
    &__content {
      flex-basis: 75%;
    }
  }
}
