.home {
  &__search-bar {
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 1rem;
    padding: 1.75rem 0;
    margin-bottom: 5rem;
  }

  &__podcast-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(10rem, 1fr));
    row-gap: 10rem;
    column-gap: 1rem;
    text-align: center;

    &__card__title {
      @include body-xs;
      @include text-semibold;
      text-transform: uppercase;
    }

    &__card__subtitle {
      @include body-xs;
      @include text-secondary;
    }
  }
}